# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache

# Virtual environments
venv/
env/
.env.*
!.env.example
.venv/
.env

# IDE-specific files
.devcontainer/
.vscode/
.idea/

# Other
*.pyc
*.swp
.DS_Store
exported_configs

# Coverage files
.coverage

# Logs
logs
summary.md

test.py
*.log